*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    }
    
    
    
    .successful {
      
        background-color:green ;
        color: beige;
      }
      
      .error {
        background-color:rgba(233, 77, 56, 0.863) ;
        color: white;
      }
    
      .reg{
    border: solid blue;
    margin-left: 42% ;
    padding-top: 10px ;
    width: 20%;
      }
    
      
      
      .reg button{
       background-color: blue;
    
       
       color: white;
          }